<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div class="card mt-50 mb-50">
                <div class="card-title mx-auto">
                    Calculo de Porcentaje
                </div>
                <span>Introduzca los datos</span>
                <br><br>
                <form action="">
                    <span id="card-header">Precio</span>
                    <div class="row-1">
                        <div class="row row-2">
                            <span id="card-inner">Introduzca el precio orginal</span>
                        </div>
                        <div class="row row-2">
                            <input type="number" id="price" placeholder="824.60" required>
                        </div>
                    </div>
                    <span id="card-header">Descuento</span>
                    <div class="row-1">
                        <div class="row row-2">
                            <span id="card-inner">Introduzca el descuento</span>
                        </div>
                        <div class="row row-2">
                            <input type="number" id="discount" placeholder="12" required>
                        </div>
                    </div>
                    <button type="button" class="btn d-flex mx-auto"><b>Calcular</b></button>
                </form>
                <br><br>
                <div class="result-card inactive">
                    <!---->
                </div>
            </div>
        </section>
    </main>
    <script src="./main.js"></script>
</body>
</html>